name: Cyclic Imports
on:
  workflow_call:
  workflow_dispatch:  # to trigger manually

permissions:
  contents: read

jobs:
  cyclic-import:
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.12'

      - name: Install Poetry
        uses: snok/install-poetry@v1

      - name: Set environment variable
        run: |
          echo $(poetry run poetry env info --path)/bin >> $GITHUB_PATH

      - name: Install packages
        run: |
          make install-all

      - name: Show installed packages
        run: |
          poetry show
          poetry show --tree

      - name: check arkas
        run: |
          python -c "import arkas"

      - name: check arkas.analyzer
        run: |
          python -c "from arkas import analyzer"
      - name: check arkas.content
        run: |
          python -c "from arkas import content"
      - name: check arkas.evaluator
        run: |
          python -c "from arkas import evaluator"
      - name: check arkas.evaluator2
        run: |
          python -c "from arkas import evaluator2"
      - name: check arkas.metric
        run: |
          python -c "from arkas import metric"
      - name: check arkas.output
        run: |
          python -c "from arkas import output"
      - name: check arkas.plot
        run: |
          python -c "from arkas import plot"
      - name: check arkas.plotter
        run: |
          python -c "from arkas import plotter"
      - name: check arkas.reporter
        run: |
          python -c "from arkas import reporter"
      - name: check arkas.result
        run: |
          python -c "from arkas import result"
      - name: check arkas.runner
        run: |
          python -c "from arkas import runner"
      - name: check arkas.section
        run: |
          python -c "from arkas import section"
      - name: check arkas.state
        run: |
          python -c "from arkas import state"
      - name: check arkas.utils
        run: |
          python -c "from arkas import utils"
